body{
	background-color:#DEDEDE;
	padding-top:20px;
	padding-bottom:20px;
	font-family:"Arial";
}
#page1{
	width:165mm; /*210-40*/
	height:237.4mm; /*297.4-60*/
	background-color:white;
	padding:20mm 20mm 20mm 20mm;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 0 50px #888888;
}

header{height:18%;border-bottom:1px solid #000000;}
header>div{float:left;padding-top:8px;}
header div.left, header div.right{width:40%;}
header div.center{width:calc(20% - 2px);border-left:1px solid #000000; border-right:1px solid #000000;}
section{padding-top:20px;padding-bottom:20px;}
section, pre{margin:0px;}
.bordeRecibo section{padding:20px;}
footer{position:absolute; bottom:0;left:0;right:0;padding:20px 0px 20px 0px;} /*Para que el footer llegue hasta abajo*/
img{margin-bottom:2px;height:85px;max-width:208;}

.column{height: calc(100% - 8px);}
.row{left:0;right:0;position:relative;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.negrita{font-weight:bold;}
.preimpreso{color:#999999;text-transform:uppercase;}
.h1{font-size:25px;}
.h2{font-size:20px;}
.h3{font-size:12px;}
.container{margin:0 20px 0 20px;}
.bordeRecibo{border:1px solid #000000;margin:0;padding:0;height:100%;position:relative;} /*Para que el footer llegue hasta abajo*/
.pull-right{position:absolute;right:0;}

#tipoComprobante{font-size:50px;}
#leyendaTipoComprobante{font-size:10px;}
#tipoComprobante, #lblComprobante{line-height:70%;}
#lblNroCmp{line-height:200%;}
#hr{width:30%;border-top:1px solid #000000;height:1px;position:absolute;right:20px;}
#firma{padding-top:30mm;position:relative;}

.importeEnPesos:before{content:'$';}

@media screen{
	body{background-color:#DEDEDE;}
	#page1{box-shadow: 0 0 50px #888888;padding:20mm 18mm 18mm 20mm;}
}
@media print{
	body{background-color:#FFFFFF;/*font-family:"Verdana";*/}
	#page1{box-shadow:none;padding:0;}
	button, #botonera{display:none;}
}


/*BOTONERA*/
button{
	color:#FFFFFF;
	background-color:#428BCA;
	border: 1px solid #357EBD;
	padding:6px 12px;
	margin-bottom:5px;
	text-align: center;
	cursor: pointer;
	font-weight:bold;
}

#botonera{
	z-index:999;
	position:absolute;
	left:10px;
	top:10px;
}
